@import url('https://fonts.cdnfonts.com/css/typewriter-condensed');
@import url('https://fonts.cdnfonts.com/css/caramel-sweets');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 2%;
  background: linear-gradient(to right, #3498db, #2ecc71);
}

#pregunta {
  font-family: 'Caramel Sweets';
  font-size: 390%;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#tablero-de-juego {
  margin-right: 10%; 
  margin-left: 10%; 
  background: rgba(255, 255, 255, 0.145);
  box-shadow: 0px 0px 80px rgba(26, 168, 140, 0.7);
  padding: 1%;
  border-radius: 30px;
}

#imagen {
  max-width: 100%;
  height: auto;
  max-height: 410px; 
  margin-left: 50%;
  padding: 1%;
  border-radius: 30px;
}

.opciones{  
  font-family: 'Typewriter_Condensed_Demi', sans-serif;
  font-size: 150%;
  margin-right: 50%;
  padding: 1%;
}

.opcion {
  margin: 10px 0; 
  border: 3px solid  #159a846b;
  padding: 5%;
  border-radius: 20px;
  cursor: pointer;
  background: #34dbbf6b;
}
.opcion:hover{
  background: #1aa38d6b;
}

.avance {
  text-align: center;
  margin-top: 3px;
}

#barra-progreso {
  width: 80%; 
  height: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}

#barra-progreso::-webkit-progress-bar {
  background-color: #f1f1f1;
  border-radius: 5px;
}

#barra-progreso::-webkit-progress-value {
  background-color: #3498db; 
  border-radius: 5px;
}

#barra-progreso::-moz-progress-bar {
  background-color: #3498db; 
  border-radius: 5px;
}
