* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 2%;
}

#imagen {
  max-width: 100%;
  height: auto;
  max-height: 300px; 
  padding-left: 70%;
}

#tablero-de-juego {
  margin-right: 10%; 
  margin-left: 10%; 
  background: rgb(17, 175, 196);
  padding: 4%;

}

.opciones{
  padding-right: 70%;
}

.opcion {
  margin: 10px 0; 
  background: #000;
}